body{
    background-color: hsl(0, 0%, 95%);
}
h1{
    background-image: linear-gradient(60deg, #006eff, #4ce3f7);
    max-width: 250px;
    margin: auto;
    font-family: sans-serif;
    text-align: center;
    border-radius: 12px;
    border: 2px solid black;
}
#form{
    margin-top: 50px; 
    
    margin-left: auto;
    margin-right: auto;
    background-color: hsl(0, 0%, 85%);
    text-align: center;
    box-shadow: 5px 5px 15px hsl(0, 0%, 70%);
    
    max-width: 300px;
    max-height: 400px;
    border-radius: 15px;
    padding: 1em;
    display:flow-root;
}
.separator{
    height:10px;
}
#buttons{
    font-family: Arial;
    font-size: 20px;
}
#inputbox_div{
    height:40px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px; 
    border: 3px black;
    padding: 0.2em;
    margin: auto;
    max-width: 200px;
    border-radius: 12px;
    background-color: rgb(184, 184, 184);
    box-shadow: 5px 5px 15px hsl(0, 0%, 75%);
}
#toF_div{
    height:40px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px; 
    border: 3px black;
    padding: 0.2em;
    margin: auto;
    max-width: 250px;
    border-radius: 12px;
    background-color: rgb(184, 184, 184);
    box-shadow: 5px 5px 15px hsl(0, 0%, 75%);
}
#toC_div{
    height:40px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px; 
    border: 3px black;
    padding: 0.2em;
    margin: auto;
    max-width: 250px;
    border-radius: 12px;
    background-color: rgb(184, 184, 184);
    box-shadow: 5px 5px 15px hsl(0, 0%, 75%);
}


#inputbox{
    height: 20px;
    width: 38px;
    
    border-radius: 6px;
}

/* From Uiverse.io by niat786 */ 
button {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
    padding: 0.6em 1.5em;
   }
   
    button:hover {
        background-position: right center;
        background-size: 200% auto;
        -webkit-animation: pulse 2s infinite;
        animation: pulse512 1.5s infinite;
    }

    button:active {
        scale: 0.95;
      }
    
    @keyframes pulse512 {
        0% {
        box-shadow: 0 0 0 0 #05bada66;
        }
    
        70% {
        box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
        }
    
        100% {
        box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
        }
    }

#output{
    height:40px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px; 
    border: 3px black;
    padding: 0.1em;
    margin: auto;
    max-width: 250px;
    border-radius: 12px;
    background-color: rgb(184, 184, 184);
    box-shadow: 5px 5px 15px hsl(0, 0%, 75%);
}